*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
}

body {
	  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	  font-size: 17px;
	  line-height: 1.47050;
	  font-weight: 400;
	  letter-spacing: .022em;
	  color: #1d1d1f;
	  font-style: normal;
	  background-color: black;
}

body.lock{
	position: fixed;
	overflow: hidden;
}

a{
	display: block;
	text-decoration: none;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 22px;
}

header {
	position: absolute;
	top: 0;
	z-index: 1400;
	height: 44px;
	width: 100%;
	background-color: rgba(0,0,0,.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list-mobile{
	display: none;
}

.nav-link {
	font-size: 14px;
	color: rgba(209,209,214);
	transition: .5s;
	height: 44px;
	line-height: 3.14286;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	padding: 0 10px;
	opacity: .8;
}

.nav-link:hover{
	color: #fff;
}

.nav-link-logo{
	width: 52px;
	height: 44px;
	background: url('images/icons/logo5.png') center no-repeat;
	filter: brightness(0) invert(1);
}

@media screen and (max-width: 767px){
	header{
		height: 48px;
		transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	}
	header .container{
		padding: 0;
	}
	.nav-list{
		margin: 0 20px 0 0;
	}
	.nav-list-mobile{
		display: flex;
	}
	.nav-item{
		width: 55px;
		height: 44px;
		display: flex;
		justify-content: center;
	}
	.nav-item-hidden{
		display:none;
	}
	.mobile-menu{
		position: relative;
		z-index: 1500;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.line{
		position: absolute;
		background: #fff;
		transition: .5s cubic-bezier(0.04,0.04,0.12,0.96);
		display: block;
	    width: 17px;
	    height: 1px;
	    border-radius: 0.5px;
	    z-index: 1;
	    margin: 0 0 0 -3px;
	}
	.line-top{
		top: 21.5px;
	    -webkit-transform: translateY(-3.5px);
	    transform: translateY(-3.5px);
	    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	.line-bottom{
		bottom: 21.5px;
	    -webkit-transform: translateY(3.5px);
	    transform: translateY(3.5px);
	    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	.active .line-top{
		transform: rotate(45deg);
		-webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	.active .line-bottom{
		transform: rotate(-45deg);
		-webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	header.active{
		height: 100%;
		background-color: #000;
	}
	.nav-link-logo{
		width: 60px;
		height: 44px;
		position: relative;
		z-index: 1500;
	}
	.nav{
		position: relative;
	}
	.nav-link{
		font-size: 17px;
		padding: 0;
		line-height: 2.6;
		margin: auto 0;
	}
	.nav-list-larger{
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: block;
		padding: 106px 40px 8px 40px;
		z-index: 1000;
		box-sizing: border-box;
		opacity: 0;
		transition: opacity .3s;
		visibility: hidden;
	}
	.active .nav-list-larger{
		width: 100%;
		height: 100vh;
		opacity: 1;
		visibility: visible;
	}
	.nav-list-larger .nav-item{
		width: 100%;
		justify-content: flex-start;
		border-bottom: 1px solid #424245;
		height: 43px;
	}
	.nav-list-larger .nav-item:nth-child(9){
		border-bottom: none;
	}
	.active .nav-list-larger .nav-item{
		animation: fadeIn 1s ease-in;
	}
	.notice-box{
		visibility: visible;
		transition: background .18s cubic-bezier(0.32, 0.08, 0.24, 1) .18s,visibility 0s linear 0s;
		display: block;
	    position: absolute;
	    z-index: 4;
	    top: 48px;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    padding: 0 10px 0 10px;
	    box-sizing: border-box;
	    height: 3.11765em;
	}
	.notice-box .notice{
		display: block;
	    height: 2.11765em;
	    max-width: 584px;
	    margin: 0 auto;
	    padding: 0;
	    outline-offset: 0;
	    opacity: 1;
	    font-size: 17px;
	    line-height: 1.23536;
	    font-weight: 400;
	    letter-spacing: -.022em;
	    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	    color: #f5f5f7;
	    position: relative;
	    z-index: 1;
	    background-color: rgb(29,29,31);
	    border-radius: 8px;
	    text-decoration: none;
	    white-space: nowrap;
	    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	    -webkit-tap-highlight-color: transparent;
	}
	.notice-box p{
		text-align: center;
		line-height: 1.23536;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: -.022em;
		display: none;
		transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
		animation: fadeIn 1s ease-in;
		color: rgb(110,110,115);
	}
	.active .notice-box{
		height: 2.11765em;
	}
	.active .notice-box p{
		text-align: center;
		line-height: 2.11;
		display: block;
	}
	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
}

#ac-localnav.css-sticky {
    position: sticky;
}

.ac-nav-overlap #ac-localnav {
    margin-top: 44px;
    margin-bottom: -96px;
}

#ac-localnav {
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 1200;
}

#ac-localnav, #ac-localnav select, #ac-localnav button {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#ac-localnav, #ac-localnav input, #ac-localnav textarea, #ac-localnav select, #ac-localnav button {
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
}

#ac-localnav, #ac-localnav:before, #ac-localnav:after, #ac-localnav *, #ac-localnav *:before, #ac-localnav *:after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

#ac-localnav {
    font-weight: normal;
    text-size-adjust: 100%;
}

#ac-localnav .ac-ln-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

.ac-theme-dark #ac-localnav.ac-localnav-scrim .ac-ln-background, .ac-localnav-scrim#ac-localnav.ac-localnav-dark .ac-ln-background {
    background-color: rgba(29,29,31,0.72);
}

#ac-localnav.ac-localnav-scrim .ac-ln-background {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

#ac-localnav .ac-ln-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav.ac-localnav-scrim .ac-ln-background:after {
    margin-left: 0;
    left: 0;
    width: 100%;
}

.ac-theme-dark #ac-localnav .ac-ln-background:after, #ac-localnav.ac-localnav-dark .ac-ln-background:after {
    background-color: rgba(255,255,255,0.24);
}

#ac-localnav .ac-ln-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    z-index: 1;
}

#ac-localnav .ac-ln-content {
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

#ac-localnav .ac-ln-content {
    margin: 0 auto;
    max-width: 965px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#ac-localnav .ac-ln-content::before, #ac-localnav .ac-ln-content::after {
    content: ' ';
    display: table;
}

.ac-theme-dark #ac-localnav .ac-ln-title, .ac-theme-dark #ac-localnav .ac-ln-title a, #ac-localnav.ac-localnav-dark .ac-ln-title, #ac-localnav.ac-localnav-dark .ac-ln-title a {
    color: #fff;
}

#ac-localnav .ac-ln-title, #ac-localnav .ac-ln-title a {
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav .ac-ln-title {
    font-size: 21px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 14px 0 -14px;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}

.ac-theme-dark #ac-localnav .ac-ln-title a, #ac-localnav.ac-localnav-dark .ac-ln-title a {
    opacity: .92;
}

#ac-localnav .ac-ln-title, #ac-localnav .ac-ln-title a {
    color: #000;
    -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav .ac-ln-title a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    opacity: .88;
}

#ac-localnav .ac-ln-content::after {
    clear: both;
}

@media only screen and (max-width: 767px){
    .ac-nav-overlap #ac-localnav {
        margin-top: 48px;
        margin-bottom: -96px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav {
        height: 48px;
    }
}

@media only screen and (max-width: 1044px){
    #ac-localnav {
        min-width: 320px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-background {
        min-height: 48px;
        -webkit-transition: background-color 0.5s ease 0.7s;
        transition: background-color 0.5s ease 0.7s;
    }
}

@media only screen and (max-width: 1023px){
    #ac-localnav .ac-ln-background:after {
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-content {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 1023px){
    #ac-localnav .ac-ln-content {
        border-bottom: none;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-title {
        display: inline-block;
        margin: 12px 0 -12px;
        height: 48px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-title {
        font-size: 19px;
        line-height: 1.26316;
        font-weight: 600;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

.main-container {
	width: 100%;
	margin-top: 44px;
}

.BI img{
	height: 100%;
	position: absolute;
	z-index: -1;
	align-items:center;
	justify-content: center;
	width: 100%;
}

.sub-container {
	padding: 30px 20px;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

.sub-container .text-box{
	width: 100%;
	color: white;
	padding: 22px 0;
	max-width: 965px;
	margin: 0 auto;
	margin-top: 80px;
}

@media only screen and (max-width: 734px){
	.sub-container .text-box{
		margin-top: 35px;
	}
}

.text-box h2 {
    text-align: center;
    animation: fade-in-hero 1.5s ease-out 0.7s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    background: radial-gradient(#eff1ff, #000);
    background-size: 100% 200%;
    background-position: 50% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16px;
    padding-bottom: 12px;
    color: #a1a1a6;
    font-size: 96px;
    line-height: 1.04167;
    font-weight: 700;
    letter-spacing: -.015em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.text-box h2 {
	    font-size: 80px;
	    line-height:1.05;
	    font-weight: 700;
	    letter-spacing: -.015em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.text-box h2 {
	    font-size: 48px;
	    line-height: 1.08349;
	    font-weight: 700;
	    letter-spacing: -.003em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.text-box .his-con{
	padding: 10px 0;
}

.text-box .his-con h3 {
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    color: #a1a1a6;
    font-size: 34px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.text-box .his-con h3 {
	    font-size: 30px;
	    line-height: 1.28583;
	    font-weight: 600;
	    letter-spacing: .007em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.text-box .his-con h3 {
	    font-size: 26px;
	    line-height: 1.133341;
	    font-weight: 600;
	    letter-spacing: .009em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.text-box .his-con p {
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    color: #a1a1a6;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.text-box .his-con p {
	    font-size: 28px;
	    line-height: 1.28583;
	    font-weight: 500;
	    letter-spacing: .007em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.text-box .his-con p {
	    font-size: 24px;
	    line-height: 1.133341;
	    font-weight: 500;
	    letter-spacing: .009em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.text-box ol {
	margin: 20px 35px;
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    color: #a1a1a6;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.text-box ol {
	    font-size: 28px;
	    line-height: 1.28583;
	    font-weight: 500;
	    letter-spacing: .007em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.text-box ol {
	    font-size: 24px;
	    line-height: 1.133341;
	    font-weight: 500;
	    letter-spacing: .009em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.text-box ol li {
	margin: 6px;
}



.sub-container2 {
	padding: 25px 20px;
	background-color: #000;
	color: #fff;
	overflow: auto;
}

.sub-container2 h2{
	font-size: 96px;
    line-height: 1.04167;
    font-weight: 700;
    letter-spacing: -.015em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    animation: fade-in-hero 1.5s ease-out 0.7s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    background: radial-gradient(#eff1ff, #000);
    background-size: 100% 200%;
    background-position: 50% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    padding-bottom: 12px;
    color: #a1a1a6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1068px){
	.sub-container2 h2{
	    font-size: 80px;
	    line-height: 1.05;
	    font-weight: 700;
	    letter-spacing: -.015em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.sub-container2 h2{
		font-size: 48px;
	    line-height: 1.08349;
	    font-weight: 700;
	    letter-spacing: -.003em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.sub-container2 .break{
	width: 100;
	position: relative;
	max-width: 965px;
	margin: 0 auto;
}

.sub-container2 .row{
	margin: 0;
	padding: 10px 0;
}

.sub-container2 .column{
	float: left;
	width: 23.75%;
	margin: 0.5%;
	min-height: 600px;
}

.sub-container2 .column .img{
	width: 100%;
	pointer-events: none;
}

.sub-container2 .column .blankimg{
	width: 100%;
	height: 600px;
	border-radius: 16px;
}

.sub-container2 .column h3{
	padding: 15px 0 0 0;
	text-align: center;
	margin: 0 5px 0 5px;
	font-size: 24px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.sub-container2 .column h3{
	    font-size: 20px;
	    line-height: 1.09091;
	    font-weight: 600;
	    letter-spacing: -.002em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.sub-container2 .column h3{
	    font-size: 16px;
	    line-height: 1.125;
	    font-weight: 600;
	    letter-spacing: .004em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.sub-container2 .column p{
	text-align: center;
	margin: 3px 5px;
	font-size: 22px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.sub-container2 .column p{
	    font-size: 18px;
	    line-height: 1.09091;
	    font-weight: 400;
	    letter-spacing: -.002em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.sub-container2 .column p{
	    font-size: 14px;
	    line-height: 1.125;
	    font-weight: 400;
	    letter-spacing: .004em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.sub-container2 .column .img{
	border-radius: 16px;
}

@media screen and (max-width: 1220px){
	.sub-container2 .column{
		min-height: 540px;
	}
}

@media screen and (max-width: 1068px){
	.sub-container2 .column{
		min-height: 500px;
	}
}

@media screen and (max-width: 910px){
	.sub-container2 .column{
		width: 32.2%;
		min-height: 540px;
	}
	.sub-container2 .blank2{
		display: none;
	}
}

@keyframes fade-in-hero {
	from {
		transform: translateY(50px);
	    opacity: 0;
	}
	to{
	    transform: translateY(0);
        opacity: 1;
	}
}

@media screen and (max-width: 790px){

	footer .footer {
		padding: 17px 16px 19px 16px;
		list-style: none;
		align-items: center;
	}
	footer .footer .footer-items{
		border-top: 0.8px solid rgb(199,199,204);
		height: auto;
	}
	.sub-container {
		padding: 20px 0px;
	}
	.text-box h2, .text-box h3, .text-box p {
		margin: 0 20px;
	}
	.sub-container2 {
		padding: 40px 0px;
	}
	.sub-container2 h2{
		margin: 0 20px;
	}
	.sub-container2 .column{
		width: 49%;
		min-height: 690px;
	}
	.sub-container2 .blank{
		display: none;
	}
}

@media screen and (max-width: 690px){
	.sub-container2 .column{
		min-height: 600px;
	}
}

@media screen and (max-width: 590px){
	.sub-container2 .column{
		min-height: 540px;
	}
}

@media screen and (max-width: 490px){
	.sub-container2 .column{
		min-height: 480px;
	}
}

@media screen and (max-width: 390px){
	.sub-container2 .column{
		min-height: 420px;
	}
}

footer{
	width: 100%;
	height: auto;
	background-color: #1d1d1f;
    color: #f5f5f7;
	display: block;
}

.footer {
	list-style: none;
	align-items: center;
	padding: 34px 22px 21px 22px;
	max-width: 980px;
	margin: 0 auto;
}

.footer .ann{
	font-size: 12px;
	color: #6e6e73;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items{
	width: 100%;
	justify-content: flex-start;
	border-top: 0.5px solid #424245;
	height: 20px;
	color: #86868B;
	margin: 0 0 10px 0;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items2{
	width: 100%;
	justify-content: flex-start;
	height: 20px;
	color: #86868B;
	margin: 15px 0 20px 0;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items2 span{
    text-align: center;
    font-size: 12px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0 12px 12px 12px;
    background: rgb(4,54,127);
    color: #fff;
    border: none;
}

.footer .footer-items:nth-child(1){
	border-top: none;
}

.footer .footer-items:nth-child(2){
	border-top: none;
}

.footer .footer-items:nth-child(3){
	border-top: none;
}

.footer .footer-items:nth-child(4){
	border-top: none;
}

.footer .footer-items p{
	margin: 10px 0 3px 0;
}

.footer .footer-items .footer-title{
	font-size: 12px;
	margin: 10px 0 3px 0;
	color: #a1a1a6;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items .footer-title .arrow{
  border: solid rgb(209,209,214);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  margin: 0 5px 0 0;
}

.footer .footer-items .footer-title .right{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/* Scroll to Top */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	background-color: rgba(255,255,255,.2);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transition: .5s;
	box-shadow: 0 5px 15px rgba(255,255,255,.1);
}

#myBtn:hover {
	background-color: rgba(255,255,255,.6);
	height: 50px;
	width: 50px;
}

@media screen and (max-width: 790px){
	#myBtn{
		height: 25px;
		right: 10px;
		bottom: 15px;
		width: 25px;
	}
	#myBtn:hover {
		background-color: rgba(255,255,255,.2);
		width: 25px;
		height: 25px;
	}
}