*,
*::before,
*::after{
   margin: 0;
   padding: 0;
}

html{
	font-size: 10px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a{
	display: block;
	text-decoration: none;
}

.container {
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 2.2rem;
}

header {
	position: fixed;
	top: 0;
	z-index: 1400;
	height: 4.4rem;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	backdrop-filter: blur(2rem);
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 6px -1rem;
}

.nav-list-mobile{
	display: none;
}

.nav-link {
	font-size: 1.4rem;
	color: rgba(209,209,214);
	padding: 0 1rem;
	transition: .5s;
}

.nav-link:hover{
	color: #fff;
}

.nav-link-logo{
	width: 32px;
	height: 27px;
	background: url('images/icons/logo5.png') center no-repeat;
	filter: brightness(0) invert(1);
}

@media screen and (max-width: 767px){
	header{
		height: 4.8rem;
		transition: background .36s cubic-bezier(0.32,0.08,0.24,1),
		height .56s cubic-bezier(0.32,0.08,0.24,1);
	}
	header .container{
		padding: 0;
	}
	.nav-list{
		margin: 0 20px 0 0;
	}
	.nav-list-mobile{
		display: flex;
	}
	.nav-item{
		width: 6rem;
		height: 4.8rem;
		display: flex;
		justify-content; center;
	}
	.nav-item-hidden{
		display:none;
	}
	.mobile-menu{
		position: relative;
		z-index: 1500;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.line{
		position: absolute;
		width: 1.7rem;
		height: 1px;
		background-color: #fff;
		transition: .5s cubic-bezier(0.04,0.04,0.12,0.96);
		margin: 0 0 0 -5px;
	}
	.line-top{
		margin-top: 3px;
	}
	.line-bottom{
		margin-top: -0.4rem;
	}
	.active .line-top{
		margin-top: 0;
		transform: rotate(45deg);
		transition: transform .3192s .1s cubic bezier(0.04,0.04,0.12,0.96);
	}
	.active .line-bottom{
		margin-top: 0;
		transform: rotate(-45deg);
		transition: transform .3192s .1s cubic bezier(0.04,0.04,0.12,0.96);
	}
	header.active{
		height: 100%;
		background-color: #000;
	}
	.nav-link-logo{
		width: 60px;
		height: 28px;
		position: relative;
		z-index: 1500;
	}
	.nav{
		position: relative;
	}
	.nav-link{
		font-size: 1.7rem;
		padding: 0;
		margin: auto 0;
	}
	.nav-list-larger{
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: block;
		padding: 11rem 5rem;
		z-index: 1000;
		box-sizing: border-box;
		opacity: 0;
		transition: opacity .3s;
		visibility: hidden;
	}
	.active .nav-list-larger{
		width: 100%;
		height: 100vh;
		opacity: 1;
		visibility: visible;
	}
	.nav-list-larger .nav-item{
		width: 100%;
		justify-content: flex-start;
		border-bottom: 2px solid rgba(255,255,255,.1);
		height: 4.1rem;
	}
	.nav-list-larger .nav-item:nth-child(9){
		border-bottom: none;
	}
	.active .nav-list-larger .nav-item{
		animation: fadeIn 1s ease-in;
	}
	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
}

.blank{
	width: 100%;
	height: 4.4rem;
}

.main-container {
	width: 100%;
	background-color: black;
}

.main-container .descri {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 12px 0;
	animation: fly-in 5s ease-in;
	animation-direction: alternate;
	z-index: 40;
	color: white;
	background-color: black;
}

.main-container .descri h2{
	margin: 0 30px 0 30px;
}

.sub-container {
	padding: 30px 142px;
	background-color: black;
}

.sub-container .text-box{
	width: 100%;
	color: white;
	padding: 40px 0;
    border-bottom: 0.8px solid rgb(255,255,255);
}

.sub-container .text-box:nth-child(2){
    border-bottom: none;
}

.text-box h2 {
    font-size: 500%;
}

.text-box .his-con{
	padding: 10px 0;
}

.text-box .his-con h3 {
    font-size: 250%;
}

.text-box .his-con p {
    font-size: 180%;
}

.text-box ol {
  font-size: 20px;
  margin: 20px 15px;
}

@media (max-width:768px) {
	.text-box ol{
		font-size: 16px;
	}
}

.text-box ol li {
  margin: 6px;
}

@keyframes fly-in {
	0%{
		left: 0;
		top: -60px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	50%{
		left: 0;
		top: -60px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	70%{
	    left: 0;
		top: 0px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	95%{
	    left: 0;
		top: 0px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	100%{
	    left: 0;
		top: 0px;
	    background-color: black;
		color: white;
	}
}

.sub-container2 {
	padding: 40px 142px;
	background-color: white;
	color: black;
	overflow: auto;
}

.sub-container2 h2{
	font-size: 500%;
	left: 0;
}

.sub-container2 .break{
	width: 100;
	position: relative;
}

.sub-container2 .row{
	margin: 0;
	padding: 10px 0;
}

.sub-container2 .column{
	float: left;
	width: 24%;
	padding: 4px;
	min-height: 485px;
}

.sub-container2 .column .img{
	width: 100%;
}

.sub-container2 .column .blankimg{
	width: 100%;
	height: 485px;
}

.sub-container2 .column h3{
	font-size: 200%;
	padding: 20px 0 0 0;
	text-align: center;
	margin: 0 5px 0 5px;
}

.sub-container2 .column p{
	font-size: 160%;
    text-align: center;
    margin: 0 5px 0 5px;
}

.sub-container2 .column .img{
	border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

@media screen and (max-width: 790px){

	footer .footer {
	     padding: 20px 15px;
		 list-style: none;
	     align-items: center;
    }
	footer .footer .footer-items{
	     border-top: 0.8px solid rgb(199,199,204);
	     height: auto;
    }
	footer .footer .footer-items p{
         font-size: 120%;
    }
	.sub-container {
	     padding: 20px 0px;
    }
	.text-box h2, .text-box h3, .text-box p {
         margin: 0 20px;
    }
	.text-box ol {
         margin: 20px 35px;
    }
	.sub-container2 {
	     padding: 40px 0px;
    }
	.sub-container2 h2{
         margin: 0 20px;
    }
	.sub-container2 .column{
	    width: 48%;
	    padding: 3px;
    }
	.sub-container2 .blank{
	    display: none;
    }
}

footer{
	width: 100%;
	height: auto;
	background-color: rgb(242,242,247);
	display: block;
}

.footer {
    list-style: none;
	align-items: center;
	padding: 20px 142px;
}

.footer .ann{
	font-size: 120%;
    color: rgb(142,142,147);
}

.footer .footer-items{
	width: 100%;
	justify-content: flex-start;
	border-top: 0.8px solid rgb(199,199,204);
	height: 20px;
	color: rgb(142,142,147);
	margin: 0 0 10px 0;
}

.footer .footer-items:nth-child(1){
    border-top: none;
}

.footer .footer-items:nth-child(2){
    border-top: none;
}

.footer .footer-items:nth-child(3){
    border-top: none;
}

.footer .footer-items p{
    font-size: 130%;
	margin: 10px 0 3px 0;
}

.footer .footer-items .footer-title{
    font-size: 130%;
	margin: 10px 0 3px 0;
	color: black;
}