*,
*::before,
*::after{
   margin: 0;
   padding: 0;
}

html{
	font-size: 10px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a{
	display: block;
	text-decoration: none;
}

.container {
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 2.2rem;
}

header {
	position: fixed;
	top: 0;
	z-index: 1400;
	height: 4.4rem;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	backdrop-filter: blur(2rem);
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 6px -1rem;
}

.nav-list-mobile{
	display: none;
}

.nav-link {
	font-size: 1.4rem;
	color: rgba(209,209,214);
	padding: 0 1rem;
	transition: .5s;
}

.nav-link:hover{
	color: #fff;
}

.nav-link-logo{
	width: 32px;
	height: 27px;
	background: url('images/icons/logo5.png') center no-repeat;
	filter: brightness(0) invert(1);
}

@media screen and (max-width: 767px){
	header{
		height: 4.8rem;
		transition: background .36s cubic-bezier(0.32,0.08,0.24,1),
		height .56s cubic-bezier(0.32,0.08,0.24,1);
	}
	header .container{
		padding: 0;
	}
	.nav-list{
		margin: 0 20px 0 0;
	}
	.nav-list-mobile{
		display: flex;
	}
	.nav-item{
		width: 6rem;
		height: 4.8rem;
		display: flex;
		justify-content; center;
	}
	.nav-item-hidden{
		display:none;
	}
	.mobile-menu{
		position: relative;
		z-index: 1500;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.line{
		position: absolute;
		width: 1.7rem;
		height: 1px;
		background-color: #fff;
		transition: .5s cubic-bezier(0.04,0.04,0.12,0.96);
		margin: 0 0 0 -5px;
	}
	.line-top{
		margin-top: 3px;
	}
	.line-bottom{
		margin-top: -0.4rem;
	}
	.active .line-top{
		margin-top: 0;
		transform: rotate(45deg);
		transition: transform .3192s .1s cubic bezier(0.04,0.04,0.12,0.96);
	}
	.active .line-bottom{
		margin-top: 0;
		transform: rotate(-45deg);
		transition: transform .3192s .1s cubic bezier(0.04,0.04,0.12,0.96);
	}
	header.active{
		height: 100%;
		background-color: #000;
	}
	.nav-link-logo{
		width: 60px;
		height: 28px;
		position: relative;
		z-index: 1500;
	}
	.nav{
		position: relative;
	}
	.nav-link{
		font-size: 1.7rem;
		padding: 0;
		margin: auto 0;
	}
	.nav-list-larger{
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: block;
		padding: 11rem 5rem;
		z-index: 1000;
		box-sizing: border-box;
		opacity: 0;
		transition: opacity .3s;
		visibility: hidden;
	}
	.active .nav-list-larger{
		width: 100%;
		height: 100vh;
		opacity: 1;
		visibility: visible;
	}
	.nav-list-larger .nav-item{
		width: 100%;
		justify-content: flex-start;
		border-bottom: 2px solid rgba(255,255,255,.1);
		height: 4.1rem;
	}
	.nav-list-larger .nav-item:nth-child(9){
		border-bottom: none;
	}
	.active .nav-list-larger .nav-item{
		animation: fadeIn 1s ease-in;
	}
	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
}

.blank{
	width: 100%;
	height: 4.4rem;
}

.main-container {
	width: 100%;
}

.main-container .wrapper{
	width: 100%;
	height: auto;
    background-color: rgba(248,248,251,1);
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 50;
}

.scroll{
	white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.main-container .wrapper .tablinks{
	display: inline;
	margin: 10px 10px;
}

.main-container .wrapper button{
	display: block;
    background-color: rgb(209,209,214);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 12px;
    height: 60px;
	width: 100px;
}

.main-container .wrapper button:hover{
    background-color: rgb(229,229,234);
}

.main-container .wrapper button.active{
    background-color: rgb(0,122,255);
	color: white;
}

.main-container .tabcontent {
    width: 100%;
    min-height: 300px;
    outline: none;
    border: none;
}

.wrapper2{
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 40;
}

.wrapper2 .tablinks2{
	display: inline;
	margin: 10px 12px;
}

.wrapper2 button{
	display: block;
    background-color: rgb(209,209,214);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 18px;
    height: 30px;
	width: 60px;
}

.wrapper2 button:hover{
    background-color: rgb(229,229,234);
}

.wrapper2 button.active{
    background-color: rgb(0,122,255);
	color: white;
}

.tabcontent2 {
    width: 100%;
    min-height: 300px;
    outline: none;
    border: none;
}

.main-container .sub-container{
	width: 100%;
	height: auto;
}

.main-container .sub-container img{
	width: 96%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	z-index: 50;
	position: relative;
	margin-bottom: 29px;
}

@media screen and (max-width: 767px){
	.main-container .sub-container img{
		width: 100%;
	}
}

.main-container .descri {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 12px 0;
	animation: fly-in 5s ease-in;
	animation-direction: alternate;
	z-index: 40;
	color: rgba(99,99,102,1);
}

.main-container .descri h2{
	margin: 0 30px 0 30px;
}

@keyframes fly-in {
	0%{
		left: 0;
		top: -65px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	50%{
		left: 0;
		top: -65px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	70%{
	    left: 0;
		top: 0px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	95%{
	    left: 0;
		top: 0px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	100%{
	    left: 0;
		top: 0px;
	    background-color: white;
		color: rgb(142,142,147);
	}
}

.main-container .sub-container2{
	width: 100%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 46px 0 46px 0;
	color: black;
	margin-bottom: 11px;
}

.main-container .sub-container2 h2{
	font-size: 500%;
	margin: 0 30px 0 30px;
}

.main-container .sub-container2 h4{
	font-size: 280%;
	font-weight: normal;
}

.main-container .sub-container2 p{
	font-size: 260%;
	color: rgb(142,142,147);
	margin: 5px 0;
}

.main-container .sub-container3{
	width: 100%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: black;
	padding: 46px 0 46px 0;
	color: white;
	margin-bottom: 11px;
}

.main-container .sub-container3 h2{
	font-size: 500%;
	margin: 0 30px 0 30px;
}

.main-container .sub-container3 h4{
	font-size: 280%;
	font-weight: normal;
}

.LM a{
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
	color: rgb(0,122,255);
	font-size: 170%;
}

.LM a:hover{
    text-decoration: underline;
}

.image-box {
	min-height: 300px;
	margin: 14.5px 29px;
	display: block;
	position: relative;
	overflow: auto;
}

.row {
  margin: 0 0;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 4px;
}

.row,
.row > .column2 {
  padding: 4px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 49.2%;
}

.column2 {
  float: left;
  width: 32.5%;
}

@media only screen and (max-width: 768px) {
  .column {
    width: 100%
  }
  .column2 {
    width: 100%
  }
  .image-box {
	margin: 14.5px 0;
  }
  .row,
  .row > .column {
    padding: 10px 0;
  }
  .row,
  .row > .column2 {
    padding: 10px 0;
  }
}

@media screen and (max-width: 790px){
	footer .footer {
	     padding: 20px 15px;
		 list-style: none;
	     align-items: center;
    }
	footer .footer .footer-items{
	     border-top: 0.8px solid rgb(199,199,204);
	     height: auto;
    }
	footer .footer .footer-items p{
         font-size: 120%;
    }
}

footer{
	width: 100%;
	height: auto;
	background-color: rgb(242,242,247);
	display: block;
}

.footer {
    list-style: none;
	align-items: center;
	padding: 20px 142px;
}

.footer .footer-items{
	width: 100%;
	justify-content: flex-start;
	border-top: 0.8px solid rgb(199,199,204);
	height: 20px;
	color: rgb(142,142,147);
	margin: 0 0 10px 0;
}

.footer .footer-items:nth-child(1){
    border-top: none;
}

.footer .footer-items:nth-child(2){
    border-top: none;
}

.footer .footer-items p{
    font-size: 130%;
	margin: 10px 0 3px 0;
}

.footer .footer-items .footer-title{
    font-size: 130%;
	margin: 10px 0 3px 0;
	color: black;
}