*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
}

body {
	  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	  font-size: 17px;
	  line-height: 1.47050;
	  font-weight: 400;
	  letter-spacing: .022em;
	  color: #1d1d1f;
	  font-style: normal;
}

body.lock{
	position: fixed;
	overflow: hidden;
}

a{
	display: block;
	text-decoration: none;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 22px;
}

header {
	position: absolute;
	top: 0;
	z-index: 1400;
	height: 44px;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	-webkit-transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list-mobile{
	display: none;
}

.nav-link {
	font-size: 14px;
	color: rgba(209,209,214);
	transition: .5s;
	height: 44px;
	line-height: 3.14286;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	padding: 0 10px;
	opacity: .8;
}

.nav-link:hover{
	color: #fff;
}

.nav-link-logo{
	width: 52px;
	height: 44px;
	background: url('images/icons/logo5.png') center no-repeat;
	filter: brightness(0) invert(1);
}

@media screen and (max-width: 767px){
	header{
		height: 48px;
		transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	}
	header .container{
		padding: 0;
	}
	.nav-list{
		margin: 0 20px 0 0;
	}
	.nav-list-mobile{
		display: flex;
	}
	.nav-item{
		width: 55px;
		height: 44px;
		display: flex;
		justify-content: center;
	}
	.nav-item-hidden{
		display:none;
	}
	.mobile-menu{
		position: relative;
		z-index: 1500;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.line{
		position: absolute;
		background: #fff;
		transition: .5s cubic-bezier(0.04,0.04,0.12,0.96);
		display: block;
	    width: 17px;
	    height: 1px;
	    border-radius: 0.5px;
	    z-index: 1;
	    margin: 0 0 0 -3px;
	}
	.line-top{
		top: 21.5px;
	    -webkit-transform: translateY(-3.5px);
	    transform: translateY(-3.5px);
	    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	.line-bottom{
		bottom: 21.5px;
	    -webkit-transform: translateY(3.5px);
	    transform: translateY(3.5px);
	    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	.active .line-top{
		transform: rotate(45deg);
		-webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	.active .line-bottom{
		transform: rotate(-45deg);
		-webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
	}
	header.active{
		height: 100%;
		background-color: #000;
	}
	.nav-link-logo{
		width: 60px;
		height: 44px;
		position: relative;
		z-index: 1500;
	}
	.nav{
		position: relative;
	}
	.nav-link{
		font-size: 17px;
		padding: 0;
		line-height: 2.6;
		margin: auto 0;
	}
	.nav-list-larger{
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: block;
		padding: 106px 40px 8px 40px;
		z-index: 1000;
		box-sizing: border-box;
		opacity: 0;
		transition: opacity 0s liner 1s;
		visibility: hidden;
	}
	.active .nav-list-larger{
		width: 100%;
		height: 100vh;
		opacity: 1;
		visibility: visible;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.nav-list-larger .nav-item{
		width: 100%;
		justify-content: flex-start;
		border-bottom: 1px solid #424245;
		height: 43px;
	}
	.nav-list-larger .nav-item:nth-child(6){
		border-bottom: none;
	}
	.active .nav-list-larger .nav-item{
		animation: fadeIn 1s ease-in;
	}
	.notice-box{
		position: absolute;
		height: 0;
	    transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
		display: block;
	    z-index: 4;
	    top: 48px;
	    right: 0;
	    left: 0;
	    padding: 0 10px 0 10px;
	}
	.notice-box .notice{
		display: block;
		background-color: rgb(29,29,31);
	    height: 0;
	    transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	    max-width: 584px;
	    margin: 0 auto;
	    padding: 0;
	    outline-offset: 0;
	    font-size: 17px;
	    line-height: 1.23536;
	    color: #f5f5f7;
	    position: relative;
	    z-index: 1;
	    border-radius: 8px;
	    text-decoration: none;
	    white-space: nowrap;
	    letter-spacing: -.022em;
	    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
	.notice-box .notice p{
		text-align: center;
		line-height: 0;
		font-size: 17px;
	    letter-spacing: -.022em;
		transition: line-height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
		font-weight: 400;
		color: rgb(110,110,115);
		overflow: none;
	}
	.active .notice-box{
		 height: 36px;
		 transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	}
	.active .notice{
		height: 2.11765em;
		transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	}
	.active .notice p{
		line-height: 2.11;
		transition: line-height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	}
	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
}
/* NavBar */
#ac-localnav.css-sticky {
    position: sticky;
}

.ac-nav-overlap #ac-localnav {
    margin-top: 44px;
    margin-bottom: -96px;
}

#ac-localnav {
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    min-width: 1024px;
    z-index: 1200;
}

#ac-localnav {
    font-weight: normal;
    text-size-adjust: 100%;
}

#ac-localnav .ac-ln-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

.ac-theme-dark #ac-localnav.ac-localnav-scrim .ac-ln-background, .ac-localnav-scrim#ac-localnav.ac-localnav-dark .ac-ln-background {
    background-color: hsla(0,0%,100%,.72);
}

#ac-localnav.ac-localnav-scrim .ac-ln-background {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

#ac-localnav .ac-ln-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav.ac-localnav-scrim .ac-ln-background:after {
    margin-left: 0;
    left: 0;
    width: 100%;
}

.ac-theme-dark #ac-localnav .ac-ln-background:after, #ac-localnav.ac-localnav-dark .ac-ln-background:after {
    background-color: rgba(0,0,0,.16);
}

#ac-localnav .ac-ln-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    z-index: 1;
}

#ac-localnav .ac-ln-content {
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

#ac-localnav .ac-ln-content {
    margin: 0 auto;
    max-width: 965px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#ac-localnav .ac-ln-content::before, #ac-localnav .ac-ln-content::after {
    content: ' ';
    display: table;
}

#ac-localnav .ac-ln-content::after {
    clear: both;
}

.ac-theme-dark #ac-localnav .ac-ln-title, .ac-theme-dark #ac-localnav .ac-ln-title a, #ac-localnav.ac-localnav-dark .ac-ln-title, #ac-localnav.ac-localnav-dark .ac-ln-title a {
    color: #000;
}

#ac-localnav .ac-ln-title, #ac-localnav .ac-ln-title a {
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav .ac-ln-title {
    font-size: 21px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 14px 0 -14px;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}

.ac-theme-dark #ac-localnav .ac-ln-title a, #ac-localnav.ac-localnav-dark .ac-ln-title a {
    opacity: .92;
}

#ac-localnav .ac-ln-title, #ac-localnav .ac-ln-title a {
    color: #000;
    -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav .ac-ln-title a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    opacity: .88;
}

#ac-localnav .ac-ln-menu {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    float: right;
    margin-top: -3px;
}

#ac-localnav .ac-ln-menu * {
    letter-spacing: inherit;
}

.ac-ln-menu-tray {
    float: left;
    padding-top: 18px;
}

#ac-localnav ul {
    list-style: none;
}

.ac-ln-menu-item {
    margin-left: 24px;
    float: left;
    list-style: none;
}

.ac-ln-menu-item button{
    border: none;
    background-color: initial;
    color: #000;
    opacity: .88;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.ac-ln-menu-item button:hover{
    color: #2997ff;
    text-decoration: none;
    opacity: 1;
}

.ac-ln-menu-item button.active{
    cursor: default;
    opacity: .56;
}

.ac-ln-menu-item button.active:hover{
    color: #000;
    opacity:.56;
}

.ac-theme-dark #ac-localnav .ac-ln-menu-link.current, #ac-localnav.ac-localnav-dark .ac-ln-menu-link.current {
    color: #000;
    opacity: .88;
}

.ac-ln-menu-link {
    color: #000;
    display: inline-block;
    line-height: 22px;
    white-space: nowrap;
    opacity: .88;
}

.ac-theme-dark #ac-localnav .ac-ln-menu-link, #ac-localnav.ac-localnav-dark .ac-ln-menu-link {
    color: #fff;
    opacity: .92;
}

#ac-localnav .ac-ln-actions {
    float: left;
    padding-top: 18px;
}

#ac-localnav .ac-ln-action {
    margin-left: 24px;
    float: left;
}

#ac-localnav .ac-ln-action-menucta {
    display: none;
}

#ac-localnav .ac-ln-action-menucta {
    margin-top: -2px;
    position: relative;
    z-index: 1;
}

#ac-localnav .ac-ln-menucta {
    margin-right: -11px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
}

.ac-ln-menucta-chevron {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.8;
 }

.ac-theme-dark #ac-localnav .ac-ln-menucta-chevron::before, .ac-theme-dark #ac-localnav .ac-ln-menucta-chevron::after, #ac-localnav .ac-ln-menucta-chevron::before, #ac-localnav .ac-ln-menucta-chevron::after{
    background: #000;
}

.ac-ln-menucta-chevron::before{
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(40deg) scaleY(1.1);
    transform: rotate(40deg) scaleY(1.1);
}

.ac-ln-menucta-chevron::before{
    right: 50%;
    border-radius: .5px 0 0 .5px;
}

.ac-ln-menucta-chevron::before, .ac-ln-menucta-chevron::after{
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;
    z-index: 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.ac-ln-menucta-chevron::after{
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(-40deg) scaleY(1.1);
    transform: rotate(-40deg) scaleY(1.1);
}

.ac-ln-menucta-chevron::after{
    left: 50%;
    border-radius: 0 .5px .5px 0;
}

.shownav .ac-ln-menucta-chevron::before{
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-40deg) scaleY(1.1);
    transform: rotate(-40deg) scaleY(1.1);
}

.shownav .ac-ln-menucta-chevron::after{
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(40deg) scaleY(1.1);
    transform: rotate(40deg) scaleY(1.1);
}

.shownav .ac-ln-menucta-chevron{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

#ac-ln-curtain {
    background: rgba(0,0,0,0.4);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1100;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

#ac-ln-curtain.shownav{
    -webkit-transition: opacity 1s ease 0.1s;
    transition: opacity 1s ease 0.1s;
}

@media only screen and (max-width: 767px){
    .ac-nav-overlap #ac-localnav {
        margin-top: 48px;
        margin-bottom: -96px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav {
        height: 48px;
    }
}

@media only screen and (max-width: 1044px){
    #ac-localnav {
        min-width: 320px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-background {
        min-height: 48px;
        -webkit-transition: background-color 0.5s ease 0.7s;
        transition: background-color 0.5s ease 0.7s;
    }
}

@media only screen and (max-width: 1023px){
    #ac-localnav .ac-ln-background:after {
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-content {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 1023px){
    #ac-localnav .ac-ln-content {
        border-bottom: none;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-title {
        display: inline-block;
        margin: 12px 0 -12px;
        height: 48px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-title {
        font-size: 19px;
        line-height: 1.26316;
        font-weight: 600;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-menu {
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: -.02em;
        font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        padding-top: 0;
        margin-top: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-tray {
        float: none;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        width: 100%;
        padding-top: 0;
        max-height: 0;
        -webkit-transition: max-height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) 0.4s,visibility 0s linear 1s;
        transition: max-height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) 0.4s,visibility 0s linear 1s;
    }
    .shownav .ac-ln-menu-tray{
        max-height: 400px;
        max-height: calc(100vh - 48px - 48px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        pointer-events: auto;
        visibility: visible;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-items {
        opacity: 0;
        padding: 4px 24px 24px;
        -webkit-transform: translate3d(0, -150px, 0);
        transform: translate3d(0, -150px, 0);
        -webkit-transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
        transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s,opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s,opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    }
    .shownav .ac-ln-menu-items{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition-delay: 0.2s, 0.4s;
        transition-delay: 0.2s, 0.4s;
    }
}

@media only screen and (max-width: 767px){
    .ac-theme-dark #ac-localnav .ac-ln-menu-item, #ac-localnav.ac-localnav-dark .ac-ln-menu-item {
        border-color: rgba(255,255,255,0.24);
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item {
        margin-left: 0;
        display: inline-block;
        float: none;
        width: 100%;
        height: 44px;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:nth-child(1) .ac-ln-menu-link {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:first-child .ac-ln-menu-link {
        border-top: 0;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:nth-child(1) .ac-ln-menu-link {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:first-child .ac-ln-menu-link {
        border-top: 0;
    }
}

@media only screen and (max-width: 767px){
	.ac-ln-menu-item button{
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -.28px;
		line-height: 18.2px;
		opacity: .88;
	}
}

@media only screen and (max-width: 767px){
    .ac-theme-dark #ac-localnav .ac-ln-menu-link, #ac-localnav.ac-localnav-dark .ac-ln-menu-link {
        border-color: rgba(0,0,0,.181818);
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-link {
        border-top: 1px solid rgba(0,0,0,0.181818);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        line-height: 1.3;
        opacity: 0;
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:nth-child(2) .ac-ln-menu-link {
        -webkit-transition-delay: 0.14s;
        transition-delay: 0.14s;
    }
    .shownav .ac-ln-menu-link{
        opacity: .88;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px){
	#ac-localnav .ac-ln-actions {
	    padding-left: 16px;
	    padding-right: 16px;
	    padding-top: 16px;
	}
}

@media only screen and (max-width: 767px){
	#ac-localnav .ac-ln-actions {
	    right: 0;
	    padding-left: 22px;
	    padding-right: 22px;
	    position: absolute;
	    top: 0;
	    z-index: 1;
	    padding-right: calc(22px + constant(safe-area-inset-right));
	}
}

@media only screen and (max-width: 767px){
	#ac-localnav .ac-ln-action-menucta {
	    display: block;
	}
}

@media only screen and (max-width: 767px){
	#ac-localnav .ac-ln-action-menucta {
	    float: left;
	}
}

@media only screen and (max-width: 767px){
    #ac-ln-curtain {
        -webkit-transition: opacity 1s ease 0.2s,width 0s ease 1.2s,height 0s ease 1.2s;
        transition: opacity 1s ease 0.2s,width 0s ease 1.2s,height 0s ease 1.2s;
    }
    #ac-ln-curtain.shownav{
        opacity: 1;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}



/* Content */
.blank{
	width: 100%;
	height: 96px;
}

@media screen and (max-width: 767px){
	.blank{
		height: 92px;
	}
}

.main-container {
	width: 100%;
}

.scroll{
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.main-container .tabcontent {
	width: 100%;
	min-height: 300px;
	outline: none;
	border: none;
}

.wrapper2{
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 40;
	margin-top: 10px;
}

.wrapper2 .wrapper2-box{
	background-color: rgba(0,0,0,.8);
	height: auto;
	width: 155px;
	padding: 2px;
	margin: 0 auto;
	border-radius: 20px;
	overflow: auto;
}

.wrapper2 .wrapper2-box .tablinks2{
	display: inline;
}

.wrapper2 button{
	display: block;
	background-color: initial;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
	border-radius: 18px;
	height: 42px;
	width: 75px;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.wrapper2 button:hover{
	background-color: rgb(229,229,234);
}

.wrapper2 button.active{
	background-color: white;
	color: rgb(0,122,255);
}

.tabcontent2 {
	width: 100%;
	min-height: 300px;
	outline: none;
	border: none;
}

.main-container .sub-container{
	width: 100%;
	height: auto;
}

.main-container .sub-container img{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	z-index: 50;
	position: relative;
}

@media screen and (max-width: 767px){
	.main-container .sub-container img{
		width: 100%;
	}
}

.main-container .descri {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 12px 0;
	animation: fly-in 5s ease-in;
	animation-direction: alternate;
	z-index: 40;
	color: rgba(99,99,102,1);
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main-container .descri h2{
	margin: 0 30px 0 30px;
	font-size: 14px;
	font-weight: 400;
}

@keyframes fly-in {
	0%{
		left: 0;
		top: -96px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	50%{
		left: 0;
		top: -96px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	70%{
		left: 0;
		top: 0px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	95%{
		left: 0;
		top: 0px;
		background-color: rgba(0,122,255,1);
		color: white;
	}
	100%{
		left: 0;
		top: 0px;
		background-color: white;
		color: rgb(142,142,147);
	}
}

.main-container .sub-container2{
	width: 100%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 46px 0 46px 0;
	color: black;
	margin-bottom: 11px;
	max-width: 965px;
	margin: 0 auto;
}

.main-container .sub-container2 h2{
	margin: 0 15px 0 15px;
	text-align: center;
	padding: 47px 0 0 0;
	font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.main-container .sub-container2 h2{
	    font-size: 44px;
	    line-height: 1.09091;
	    font-weight: 600;
	    letter-spacing: -.002em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.main-container .sub-container2 h2{
	    font-size: 32px;
	    line-height: 1.125;
	    font-weight: 600;
	    letter-spacing: .004em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.main-container .sub-container2 .des-box{
	padding: 10px 0 20px 0;
}

.main-container .sub-container2 .cny{
	background: -webkit-linear-gradient(135deg, #111A21, #A9081C, #716360);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main-container .sub-container2 .c1{
	color: #fffbc2;
	font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main-container .sub-container2 .c2{
	color: #ffc7c5;
	font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main-container .sub-container2 .c3{
	color: #a8e3fe;
	font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.main-container .sub-container2 .c1, .main-container .sub-container2 .c2, .main-container .sub-container2 .c3{
	    font-size: 44px;
	    line-height: 1.09091;
	    font-weight: 600;
	    letter-spacing: -.002em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.main-container .sub-container2 .c1, .main-container .sub-container2 .c2, .main-container .sub-container2 .c3{
	    font-size: 32px;
	    line-height: 1.125;
	    font-weight: 600;
	    letter-spacing: .004em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.main-container .sub-container2 h4{
	text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.main-container .sub-container2 h4{
	    font-size: 24px;
	    line-height: 1.16667;
	    font-weight: 400;
	    letter-spacing: .009em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.main-container .sub-container2 h4{
	    font-size: 19px;
	    line-height: 1.4211;
	    font-weight: 400;
	    letter-spacing: .012em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.main-container .sub-container2 p{
	color: rgb(142,142,147);
	margin: 5px 0;
	text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.main-container .sub-container2 p{
	    font-size: 24px;
	    line-height: 1.16667;
	    font-weight: 400;
	    letter-spacing: .009em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.main-container .sub-container2 p{
	    font-size: 19px;
	    line-height: 1.4211;
	    font-weight: 400;
	    letter-spacing: .012em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.main-container .sub-container2 button{
	cursor: pointer;
    text-align: center;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
    border: none;
    margin: 20px 0 0 0;
}

.main-container .sub-container2 button:hover{
	background-color: rgb(10,132,255);
}

.main-container .sub-container2 .btn-2{
	cursor: pointer;
    text-align: center;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: rgb(255,204,0);
    color: #fff;
    border: none;
    margin: 20px 0 0 0;
}

.main-container .sub-container2 .btn-2:hover{
	background-color: rgb(255,214,10);
}

.main-container .sub-container3{
	width: 100%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: black;
	padding: 46px 0 46px 0;
	color: white;
	margin-bottom: 11px;
	margin: 0 auto;
}

.main-container .sub-container3 h2{
	margin: 0 15px 0 15px;
	text-align: center;
	padding: 47px 0 0 0;
	font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.main-container .sub-container3 h2{
	    font-size: 44px;
	    line-height: 1.09091;
	    font-weight: 600;
	    letter-spacing: -.002em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
		padding: 57px 0 0 0;
	}
}

@media only screen and (max-width: 734px){
	.main-container .sub-container3 h2{
	    font-size: 32px;
	    line-height: 1.125;
	    font-weight: 600;
	    letter-spacing: .004em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
		padding: 37px 0 0 0;
	}
}

.main-container .sub-container3 h4{
	text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 1068px){
	.main-container .sub-container3 h4{
	    font-size: 24px;
	    line-height: 1.16667;
	    font-weight: 400;
	    letter-spacing: .009em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

@media only screen and (max-width: 734px){
	.main-container .sub-container3 h4{
	    font-size: 19px;
	    line-height: 1.4211;
	    font-weight: 400;
	    letter-spacing: .012em;
	    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	}
}

.LM a{
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
	color: rgb(0,122,255);
	font-size: 170%;
}

.LM a:hover{
	text-decoration: underline;
}

.image-box {
	min-height: 300px;
	max-width: 965px;
	margin: 14.5px auto;
	display: block;
	position: relative;
	overflow: auto;
}

.row {
	margin: 0 0;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
	padding: 0.5%;
}

.row,
.row > .column2 {
	padding: 0.5%;
}

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 49%;
}

.column2 {
	float: left;
	width: 32.33%;
}

.column img{
	border-radius: 12px;
}

.column2 img{
	border-radius: 12px;
}

@media only screen and (max-width: 768px) {
	.column {
		width: 100%
	}
	.column2 {
		width: 100%
	}
	.image-box {
		margin: 14.5px 0;
	}
	.row,
	.row > .column {
		padding: 8px 0 0 0;
	}
	.row,
	.row > .column2 {
		padding: 8px 0 0 0;
	}
	.row{
		padding: 0 10px;
	}
}

@media only screen and (min-width:769px) and (max-width: 1027px) {
	.column2 {
		width: 49%;
	}
	.column {
		width: 100%;
	}
}

.MB-container{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 20px 0 0 0;
}

.MB-container ol {
	font-size: 20px;
	margin: 0 70px;
	text-align: left;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media (max-width:768px) {
	.MB-container ol{
		font-size: 16px;
	}
	.MB-container h6 {
		font-size: 14px;
	}
}

.MB-container ol li {
	margin: 6px;
}

.MB-container ul {
	margin: 0 30px;
}

.MB-container h6 {
	margin: 0 60px;
	text-align: left;
	font-size: 20px;
	color: black;
    line-height: 1.4211;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.MB-container button {
	cursor: pointer;
    text-align: center;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
    border: none;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 767px){
	.MB-container ol{
		margin: 0 40px;
	}
}

.MB-container button:hover {
	background-color: rgb(10,132,255);
}

@media screen and (max-width: 790px){
	footer .footer {
		padding: 17px 16px 19px 16px;
		list-style: none;
		align-items: center;
	}
	footer .footer .footer-items{
		border-top: 0.8px solid rgb(199,199,204);
		height: auto;
	}
}

footer{
	width: 100%;
	height: auto;
	background-color: rgb(242,242,247);
	display: block;
}

.footer {
	list-style: none;
	align-items: center;
	padding: 34px 22px 21px 22px;
	max-width: 980px;
	margin: 0 auto;
}

.footer .footer-items{
	width: 100%;
	justify-content: flex-start;
	border-top: 0.8px solid rgb(199,199,204);
	height: 20px;
	color: #86868B;
	margin: 0 0 10px 0;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items2{
	width: 100%;
	justify-content: flex-start;
	height: 20px;
	color: #86868B;
	margin: 15px 0 20px 0;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items2 span{
    text-align: center;
    font-size: 12px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0 12px 12px 12px;
    background: rgb(4,54,127);
    color: #fff;
    border: none;
}

.footer .footer-items:nth-child(1){
	border-top: none;
}

.footer .footer-items:nth-child(2){
	border-top: none;
}

.footer .footer-items:nth-child(3){
	border-top: none;
}

.footer .footer-items p{
	margin: 10px 0 3px 0;
}

.footer .footer-items .footer-title{
	font-size: 12px;
	margin: 10px 0 3px 0;
	color: black;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer .footer-items .footer-title .arrow{
  border: solid rgb(209,209,214);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  margin: 0 5px 0 0;
}

.footer .footer-items .footer-title .right{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}


.footer2{
	list-style: none;
	align-items: center;
	padding: 34px 22px 21px 22px;
	max-width: 980px;
	margin: 0 auto;
}

.footer2 .ann{
	font-size: 12px;
	color: rgb(142,142,147);
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer2 .footer-items2{
	width: 100%;
	justify-content: flex-start;
	border-top: 0.8px solid rgb(199,199,204);
	height: 20px;
	color: #86868B;
	margin: 0 0 10px 0;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer2 .footer-items3{
	width: 100%;
	justify-content: flex-start;
	height: 20px;
	color: #86868B;
	margin: 15px 0 20px 0;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer2 .footer-items3 span{
    text-align: center;
    font-size: 12px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0 12px 12px 12px;
    background: rgb(4,54,127);
    color: #fff;
    border: none;
}

.footer2 .footer-items2:nth-child(1){
	border-top: none;
}

.footer2 .footer-items2:nth-child(2){
	border-top: none;
}

.footer2 .footer-items2:nth-child(3){
	border-top: none;
}

.footer2 .footer-items2:nth-child(4){
	border-top: none;
}

.footer2 .footer-items2:nth-child(5){
	border-top: none;
}

.footer2 .footer-items2 p{
	margin: 10px 0 3px 0;
}

.footer2 .footer-items2 .footer-title2{
	font-size: 12px;
	margin: 10px 0 3px 0;
	color: black;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer2 .footer-items2 .footer-title2 .arrow{
  border: solid rgb(209,209,214);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  margin: 0 5px 0 0;
}

.footer2 .footer-items2 .footer-title2 .right{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 790px){
	footer .footer2 {
		padding: 20px 15px;
		list-style: none;
		align-items: center;
	}
	footer .footer2 .footer-items2{
		border-top: 0.8px solid rgb(199,199,204);
		height: auto;
	}
}

/* Scroll to Top */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,.2);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transition: .5s;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

#myBtn:hover {
	background-color: rgba(0,0,0,.6);
	height: 50px;
	width: 50px;
}

@media screen and (max-width: 790px){
	#myBtn{
		height: 25px;
		right: 10px;
		bottom: 15px;
		width: 25px;
	}
	#myBtn:hover {
		background-color: rgba(0,0,0,.2);
		width: 25px;
		height: 25px;
	}
}